{% extends "base.html" %}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static '/css/paciente.css' %}">
 <main class="container-fluid">
        <div class="col-lg col-md col-sm">
            <div id="tarjeta" class="card">
                <div class="card-header">
                   <h4 class="text-white">Bienvenido/a Ingrese su rut y la acción que desee hacer</h4> 
                </div>
                <div class="card-body">
                    <input id="rut" class="form-control form-control-lg" type="text" placeholder="Ej. 19286743-6" aria-label=".form-control-lg example">
                    <select id="selector" class="form-select" aria-label="Default select example">
                        <option selected>Seleccione su acción</option>
                        <option value="1">Obtener Receta(s)</option>
                        <option value="2">Historial</option>
                        <option value="3">Consultar Equivalentes</option>
                    </select>
                    <button id="consultar-btn" type="button" class="btn btn-primary btn-lg btn-block text-white">Consultar</button>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'vendor/rutjs/index.js' %}"></script>
    <script src="{% static 'js/paciente.js' %}"></script>
{% endblock  %}