
body {
    
    background-color:lightblue;
    background-size:cover;
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    background-color: #d6e0f0;
    
}
#barra{
    background-color:#f1f3f8;
}